<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Practice Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <h1>{{ message }}</h1>
    <p> {{ movies }} </p>
    <br>
    <div v-for="movie in movies">
      <p>{{ movie }}</p>
    </div>
    <br>
    <p> Movie Title: <input type="text" v-model="movieTitle"></p>
    <button v-on:click="addMovie()">Add a new movie</button> </button>

</body>

</html>